<template name="posts_digest">
    <div class="grid">
      <div class="grid-block">
        Top 5 Post untuk Hari Ini. |
      {{#if showPreviousDate}}
      <a href="{{previousDateURL}}" class="prev-link">Kemaren</a> | 
      {{/if}}
      {{currentDate}} |
      {{#if showNextDate}}
      <a href="{{nextDateURL}}" class="next-link">Besok</a>
      {{/if}}
      </div>
    </div>
    <div class="posts grid list">
      {{#if hasPosts}}
        {{#each posts}}
          {{> post_item}}
        {{/each}}
      {{else}}
        <p class="empty-notice">Maaf, tidak ada post untuk hari ini.</p>
      {{/if}}
    </div>
</template>